  <ul class="collapsible popout" data-collapsible="accordion">
    <li id="reg">
      <div class="collapsible-header  col s12 m12 waves-effect waves-red" >
        <div class="card blue-grey square darken-1 z-depth-5">
          <div class="card-content white-text">
            <span class="card-title center-align">Register</span>
          </div>
        </div>
      </div>
      <div class="collapsible-body"><span><app-register></app-register></span></div>
    </li>
    <li id="preReg">
      <div class="collapsible-header col  s12 m12 waves-effect waves-red"  id="selectCard">
        <div class="card cyan darken-2 square z-depth-5">
          <div class="card-content white-text">
            <span class="card-title center-align">Pre-Registered</span>
          </div>
        </div>
      </div>
      <div class="collapsible-body"><span><app-pre-reg></app-pre-reg></span></div>
    </li>
  </ul>
